<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.thymeleaf.org" layout:decorator="main">
<head>
<title th:text="${'PetShop - ' + action + ' producto'}"></title>
</head>
<body>
	<div layout:fragment="content">
		<div class="row bg-title">
			<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
				<h4 class="page-title">
					<span th:text="${action}"></span> producto
				</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="white-box">
					<form th:object="${product}" th:action="@{/products/save}"
						class="form-horizontal" method="post" role="form"
						enctype="multipart/form-data">
						<input th:field="*{id}" type="hidden"> <input
							th:field="*{version}" type="hidden">
						<div class="form-group">
							<label class="col-md-12" for="name">Nombre</label>
							<div class="col-md-12">
								<input th:field="*{name}" class="form-control"
									required="required" type="text">
							</div>
							<p class="help-block help-block-error"></p>
						</div>
						<div class="form-group">
							<label class="col-md-12" for="description">Descripción</label>
							<div class="col-md-12">
								<textarea th:field="*{description}" class="form-control"
									rows="6"></textarea>
							</div>
							<p class="help-block help-block-error"></p>
						</div>
						<div class="form-group">
							<label class="col-md-12" for="price">Precio</label>
							<div class="col-md-12">
								<input th:field="*{price}" class="form-control"
									required="required" type="text">
							</div>
							<p class="help-block help-block-error"></p>
						</div>
<!-- 						<div class="form-group"> -->
<!-- 							<label class="col-md-12" for="stock">Stock</label> -->
<!-- 														<div class="col-md-12"> -->
<!-- 															<textarea th:field="*{stock}" class="form-control" rows="6"></textarea> -->
<!-- 														</div> -->
<!-- 							<div class="col-md-12"> -->
<!-- 								<input th:field="*{stock}" class="form-control" -->
<!-- 									required="required" type="text"> -->
<!-- 							</div> -->
<!-- 							<p class="help-block help-block-error"></p> -->
<!-- 						</div> -->

						<div class="form-group">
							<label class="col-md-12" for="imageBD">Imagen</label>
							<div class="col-md-12">
								<input th:field="*{file}" class="form-control"
									required="required" type="file" />
							</div>
							<p class="help-block help-block-error"></p>
						</div>

						<button class="btn btn-success waves-effect waves-light m-r-10"
							type="submit">Guardar</button>
						<a class="btn btn-inverse waves-effect waves-light"
							th:href="@{/products}">Cancelar</a>
					</form>
					<!-- 					<form method="POST" enctype="multipart/form-data" -->
					<!-- 						action="${'/products/upload/' + product.id + '/img'}"> -->


					<!-- 						<div> -->
					<!-- 							<input class="btn btn-success waves-effect waves-light m-r-10" -->
					<!-- 								type="submit" /> -->
					<!-- 						</div> -->
					<!-- 					</form> -->
				</div>
			</div>
		</div>
	</div>
</body>
</html>