<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorator="main">
<head>
    <title>PetShop - Productos</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Productos</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="white-box">
                    <p><a class="btn btn-success" th:href="@{/products/create}">Agregar producto</a></p>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Descripción</th>
                                    <th>Precio</th>
                                    <th>Stock</th>
                                    <th class="action-column">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="product : ${products}">
                                    <td th:text="${product.name}"></td>
                                    <td th:text="${product.description}"></td>
                                    <td th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 2, 'POINT')}"></td>
                                    <td th:text="${product.stock}"></td>
                                    <td>
                                        <a th:href="${'/products/vista/' + product.id}" aria-label="Ver" data-original-title="Ver" data-toggle="tooltip"><i class="fa fa-search text-info m-r-10"></i></a>
                                        <a th:href="${'/products/update/' + product.id}" aria-label="Actualizar" data-original-title="Actualizar" data-toggle="tooltip"><i class="fa fa-pencil text-inverse m-r-10"></i></a>
                                        <a th:href="${'/products/delete/' + product.id}" aria-label="Eliminar" data-original-title="Eliminar" data-toggle="tooltip"><i class="fa fa-trash text-danger m-r-10"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>