<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.thymeleaf.org" layout:decorator="main">
<head>
<title th:text="${'PetShop - Ver producto: ' + product.name}"></title>
</head>
<body>
	<div layout:fragment="content">
		<div class="row bg-title">
			<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
				<h4 class="page-title">
					Ver producto: <span th:text="${product.name}"></span>
				</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="white-box">
					<div class="table-responsive">
						<table id="w0" class="table table-bordered">
							<tbody>
								<tr>
									<th>ID</th>
									<td th:text="${product.id}"></td>
								</tr>
								<tr>
									<th>Nombre</th>
									<td th:text="${product.name}"></td>
								</tr>
								<tr>
									<th>Descripción</th>
									<td th:text="${product.description}"></td>
								</tr>
								<tr>
									<th>Precio</th>
									<td
										th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 2, 'POINT')}"></td>
								</tr>
								<!-- 								<tr> -->
								<!-- 									<th>Stock</th> -->
								<!-- 									<td th:text="${product.stock}"></td> -->
								<!-- 								</tr> -->
								<tr>
									<th>Imagen</th>
									<td>
										<div class="imagen-prod">
											<img class="pequena" th:src="${product.imagen}" />
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>