<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorator="main">
<head>
    <title>PetShop - Cupones</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Cupones</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="white-box">
                    <p><a class="btn btn-success" th:href="@{/coupons/create}">Agregar cupón</a></p>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Código</th>
                                    <th>Porcentaje de descuento</th>
                                    <th>Usuario</th>
                                    <th>Estado</th>
                                    <th class="action-column">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="coupon : ${coupons}">
                                    <td th:text="${coupon.code}"></td>
                                    <td th:text="${#numbers.formatDecimal(coupon.discountPercentage, 0, 'COMMA', 2, 'POINT') + '%'}"></td>
                                    <td th:text="${coupon.usuario.firstName + ' ' + coupon.usuario.lastName}"></td>
                                    <td th:text="${coupon.status}"></td>
                                    <td>
                                        <a th:href="${'/coupons/vista/' + coupon.id}" aria-label="Ver" data-original-title="Ver" data-toggle="tooltip"><i class="fa fa-search text-info m-r-10"></i></a>
                                        <a th:href="${'/coupons/update/' + coupon.id}" aria-label="Actualizar" data-original-title="Actualizar" data-toggle="tooltip"><i class="fa fa-pencil text-inverse m-r-10"></i></a>
                                        <!--<a th:href="${'/coupons/delete/' + coupon.id}" aria-label="Eliminar" data-original-title="Eliminar" data-toggle="tooltip"><i class="fa fa-trash text-danger m-r-10"></i></a>-->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>