<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorator="main">
<head>
    <title th:text="${'PetShop - Ver cupón: ' + coupon.code}"></title>
</head>
<body>
<div layout:fragment="content">
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Ver cupón: <span th:text="${coupon.code}"></span></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="white-box">
                <div class="table-responsive">
                    <table id="w0" class="table table-bordered">
                        <tbody>
                            <tr>
                                <th>ID</th>
                                <td th:text="${coupon.id}"></td>
                            </tr>
                            <tr>
                                <th>Código</th>
                                <td th:text="${coupon.code}"></td>
                            </tr>
                            <tr>
                                <th>Porcentaje de descuento</th>
                                <td th:text="${coupon.discountPercentage}"></td>
                            </tr>
                            <tr>
                                <th>Usuario</th>
                                <td th:text="${coupon.usuario.firstName + ' ' + coupon.usuario.lastName}"></td>
                            </tr>
                            <tr>
                                <th>Estado</th>
                                <td th:text="${coupon.getStatusName()}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>