<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorator="main">
<head>
    <title th:text="${'PetShop - ' + action + ' pedido'}"></title>
</head>
<body>
    <div layout:fragment="content">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title"><span th:text="${action}"></span> pedido</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="white-box">
                    <form th:object="${coupon}" th:action="@{/coupons/save}" class="form-horizontal" method="post" role="form">
                        <input th:field="*{id}" type="hidden">
                        <input th:field="*{version}" type="hidden">
                        <div class="form-group">
                            <label class="col-md-12" for="name">Código</label>
                            <div class="col-md-12">
                                <input th:field="*{code}" class="form-control" required="required" type="text">
                            </div>
                            <p class="help-block help-block-error"></p>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12" for="discountPercentage">Porcentaje de descuento</label>
                            <div class="col-md-12">
                                <input th:field="*{discountPercentage}" class="form-control" required="required" type="text">
                            </div>
                            <p class="help-block help-block-error"></p>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12" for="userId">Usuario</label>
                            <div class="col-md-12">
                                <select th:field="*{user}" id="userId" class="form-control">
                                    <option th:each="oneUser : ${users}" th:value="${oneUser.id}" th:text="${oneUser.firstName + ' ' + oneUser.lastName}"></option>
                                </select>
                            </div>
                            <p class="help-block help-block-error"></p>
                        </div>
                        <button class="btn btn-success waves-effect waves-light m-r-10" type="submit">Guardar</button>
                        <a class="btn btn-inverse waves-effect waves-light" th:href="@{/coupons}">Cancelar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>