<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorator="main">
<head>
    <title>PetShop - Pedidos</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Pedidos</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="white-box">
                    <!--<p><a class="btn btn-success" th:href="@{/orders/create}">Agregar pedido</a></p>-->
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Nombre(s)</th>
                                    <th>Apellido(s)</th>
                                    <th>Correo electrónico</th>
                                    <th>Total</th>
                                    <th class="action-column">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="order : ${orders}">
                                    <td th:text="${order.firstName}"></td>
                                    <td th:text="${order.lastName}"></td>
                                    <td th:text="${order.email}"></td>
                                    <td th:text="${#numbers.formatDecimal(order.total, 0, 'COMMA', 2, 'POINT')}"></td>
                                    <td>
                                        <a th:href="${'/orders/vista/' + order.id}" aria-label="Ver" data-original-title="Ver" data-toggle="tooltip"><i class="fa fa-search text-info m-r-10"></i></a>
                                        <!--<a th:href="${'/orders/update/' + order.id}" aria-label="Actualizar" data-original-title="Actualizar" data-toggle="tooltip"><i class="fa fa-pencil text-inverse m-r-10"></i></a>-->
                                        <!--<a th:href="${'/orders/delete/' + order.id}" aria-label="Eliminar" data-original-title="Eliminar" data-toggle="tooltip"><i class="fa fa-trash text-danger m-r-10"></i></a>-->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>