<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorator="main">
<head>
    <title th:text="${'PetShop - Ver pedido: ID ' + order.id}"></title>
</head>
<body>
<div layout:fragment="content">
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Ver pedido: ID <span th:text="${order.id}"></span></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="white-box">
                <div class="table-responsive">
                    <table id="w0" class="table table-bordered">
                        <tbody>
                            <tr>
                                <th>ID</th>
                                <td th:text="${order.id}"></td>
                            </tr>
                            <tr>
                                <th>Correo electrónico</th>
                                <td th:text="${order.email}"></td>
                            </tr>
                            <tr>
                                <th>Nombre(s)</th>
                                <td th:text="${order.firstName}"></td>
                            </tr>
                            <tr>
                                <th>Apellido(s)</th>
                                <td th:text="${order.firstName}"></td>
                            </tr>
                            <tr>
                                <th>Dirección</th>
                                <td th:text="${order.address}"></td>
                            </tr>
                            <tr>
                                <th>Código postal</th>
                                <td th:text="${order.postalCode}"></td>
                            </tr>
                            <tr>
                                <th>Teléfono</th>
                                <td th:text="${order.phone}"></td>
                            </tr>
                            <tr>
                                <th>País</th>
                                <td th:text="${order.country}"></td>
                            </tr>
                            <tr>
                                <th>Total</th>
                                <td th:text="${#numbers.formatDecimal(order.total, 0, 'COMMA', 2, 'POINT')}"></td>
                            </tr>
                            <tr>
                                <th>Notas</th>
                                <td th:text="${order.notes}"></td>
                            </tr>
                            <tr>
                                <th>Usuario</th>
                                <td th:text="${order.usuario.firstName + ' ' + order.usuario.lastName}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="white-box">
                <h5>Detalle</h5>
                <div class="table-responsive">
                    <table id="w1" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>ID de producto</th>
                                <th>Cantidad</th>
                                <th>Subtotal</th> 
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="line : ${order.pedidos}">
                                <td th:text="${line.id}"></td>
                                <td th:text="${line.productId}">&nbsp;</td>
                                <td th:text="${line.quantity}"></td>
                                <td th:text="${#numbers.formatDecimal(line.subtotal, 0, 'COMMA', 2, 'POINT')}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>