<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorator="main">
<head>
    <title th:text="${'PetShop - ' + action + ' usuario'}"></title>
</head>
<body>
    <div layout:fragment="content">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title"><span th:text="${action}"></span> usuario</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="white-box">
                    <form th:object="${user}" th:action="@{/users/save}" class="form-horizontal" method="post" role="form">
                        <input th:field="*{id}" type="hidden">
                        <input th:field="*{version}" type="hidden">
                        <div class="form-group">
                            <label class="col-md-12" for="email">Correo electrónico</label>
                            <div class="col-md-12">
                                <input th:field="*{email}" class="form-control" required="required" type="text">
                            </div>
                            <p class="help-block help-block-error"></p>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12" for="firstName">Nombre(s)</label>
                            <div class="col-md-12">
                                <input th:field="*{firstName}" class="form-control" required="required" type="text">
                            </div>
                            <p class="help-block help-block-error"></p>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12" for="lastName">Apellido(s)</label>
                            <div class="col-md-12">
                                <input th:field="*{lastName}" class="form-control" required="required" type="text">
                            </div>
                            <p class="help-block help-block-error"></p>
                        </div>
                        <button class="btn btn-success waves-effect waves-light m-r-10" type="submit">Guardar</button>
                        <a class="btn btn-inverse waves-effect waves-light" th:href="@{/users}">Cancelar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>