<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorator="main">
<head>
    <title>PetShop - Usuarios</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Usuarios</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="white-box">
                    <p><a class="btn btn-success" th:href="@{/users/create}">Agregar usuario</a></p>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Correo electrónico</th>
                                    <th>Nombre(s)</th>
                                    <th>Apellido(s)</th>
                                    <th class="action-column">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="user : ${users}">
                                    <td th:text="${user.email}"></td>
                                    <td th:text="${user.firstName}"></td>
                                    <td th:text="${user.lastName}"></td>
                                    <td>
                                        <a th:href="${'/users/vista/' + user.id}" aria-label="Ver" data-original-title="Ver" data-toggle="tooltip"><i class="fa fa-search text-info m-r-10"></i></a>
                                        <a th:if="${user.id > 1}" th:href="${'/users/update/' + user.id}" aria-label="Actualizar" data-original-title="Actualizar" data-toggle="tooltip"><i class="fa fa-pencil text-inverse m-r-10"></i></a>
                                        <!--<a th:href="${'/users/delete/' + user.id}" aria-label="Eliminar" data-original-title="Eliminar" data-toggle="tooltip"><i class="fa fa-trash text-danger m-r-10"></i></a>-->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>