<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorator="main">
<head>
    <title th:text="${'PetShop - Ver usuario: ' + user.firstName + ' ' + user.lastName}"></title>
</head>
<body>
<div layout:fragment="content">
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Ver usuario: <span th:text="${user.firstName + ' ' + user.lastName}"></span></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="white-box">
                <div class="table-responsive">
                    <table id="w0" class="table table-bordered">
                        <tbody>
                            <tr>
                                <th>ID</th>
                                <td th:text="${user.id}"></td>
                            </tr>
                            <tr>
                                <th>Correo electrónico</th>
                                <td th:text="${user.email}"></td>
                            </tr>
                            <tr>
                                <th>Nombre(s)</th>
                                <td th:text="${user.firstName}"></td>
                            </tr>
                            <tr>
                                <th>Apellido(s)</th>
                                <td th:text="${user.lastName}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>