<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorator="main">
    <head>
        <title>PetShop - Pedidos</title>
    <th:block layout:fragment="styles">
        <link th:href="@{/css/jquery.dataTables.min.css}" rel="stylesheet">
        <link th:href="@{/css/buttons.dataTables.min.css}" rel="stylesheet">
    </th:block>
</head>
<body>
    <div layout:fragment="content">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Citas</h4>
            </div>
        </div>
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <table id="orders-table" class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th style="width:10px">Id</th>
                            <th style="width:30px">Nombre(s)</th>
                            <th style="width:30px">Apellido(s)</th>
                            <th style="width:20px">DNI</th>
                            <th style="width:30px">Correo electrónico</th>
                            <th style="width:20px">Teléfono</th>
                            <th style="width:50px">Tipo de Cita</th>
                            <th style="width:20px">Fecha</th>
                            <th style="width:20px">Hora</th>
                            <th style="width:30px">Comentario</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="quote : ${quotes}">
                            <td th:text="${quote.id}"></td>
                            <td th:text="${quote.name}"></td>
                            <td th:text="${quote.lastname}"></td>
                            <td th:text="${quote.dni}"></td>
                            <td th:text="${quote.email}"></td>
                            <td th:text="${quote.phone}"></td>
                            <td th:text="${quote.type}"></td>
                            <td th:text="${quote.register_date}"></td>
                            <td th:text="${quote.hour_quote}"></td>
                            <td th:text="${quote.comments}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>