<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorator="main">
<head>
    <title>PetShop</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Bienvenido</h4>
            </div>
        </div>
        <div class="row">
            <h5 class="page-title">Total en ventas: S/. <span th:text="${#numbers.formatDecimal(totalSales, 1, 'COMMA', 2, 'POINT')}"></span></h5>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="white-box">
                    <h3 class="box-title"><i class="fa fa-tags text-success"></i> Productos</h3>
                    <div class="text-right">
                        <h1><a class="btn btn-block btn-success btn-rounded" th:href="@{/products}">Ver</a></h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="white-box">
                    <h3 class="box-title"><i class="fa fa-percent text-danger"></i> Cupones</h3>
                    <div class="text-right">
                        <h1><a class="btn btn-block btn-danger btn-rounded" th:href="@{/coupons}">Ver</a></h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="white-box">
                    <h3 class="box-title"><i class="fa fa-shopping-cart text-info"></i> Pedidos</h3>
                    <div class="text-right">
                        <h1><a class="btn btn-block btn-info btn-rounded" th:href="@{/orders}">Ver</a></h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="white-box">
                    <h3 class="box-title"><i class="fa fa-location-arrow text-primary"></i> Usuarios</h3>
                    <div class="text-right">
                        <h1><a class="btn btn-block btn-primary btn-rounded" th:href="@{/users}">Ver</a></h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h5>Últimos usuarios</h5>
                <div class="white-box">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Correo electrónico</th>
                                <th>Nombre(s)</th>
                                <th>Apellido(s)</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr th:each="lastUser : ${lastUsers}">
                                    <td th:text="${lastUser.email}"></td>
                                    <td th:text="${lastUser.firstName}"></td>
                                    <td th:text="${lastUser.lastName}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>