<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PetShop</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/sidebar-nav.min.css}" rel="stylesheet">
    <link th:href="@{/css/jquery.toast.min.css}" rel="stylesheet">
    <link th:href="@{/css/morris.min.css}" rel="stylesheet">
    <link th:href="@{/css/animate.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/colors/default.css}" rel="stylesheet">
    <th:block layout:fragment="styles"></th:block>
    <!--[lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="preloader">
        <div class="cssload-speeding-wheel"></div>
    </div>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top m-b-0">
            <div class="navbar-header">
                <a class="navbar-toggle hidden-sm hidden-md hidden-lg" href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse">
                    <i class="ti-menu"></i>
                </a>
                <ul class="nav navbar-top-links navbar-left hidden-xs">
                    <li>
                        <a href="javascript:void(0)" class="open-close hidden-xs waves-effect waves-light">
                            <i class="icon-arrow-left-circle ti-menu"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse slimscrollsidebar">
                <div class="user-profile">
                    <div class="dropdown user-pro-body">
                        <div>
                            <img alt="Usuario" class="img-circle" th:src="@{../img/user.png}">
                        </div>
                        <a href="#" class="dropdown-toggle u-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
                        <ul class="dropdown-menu animated flipInY">
                            <li><a th:href="@{/logout}"><i class="fa fa-power-off"></i> Cerrar sesión</a></li>
                        </ul>
                    </div>
                </div>
                <ul id="side-menu" class="nav">
                    <li class="nav-small-cap m-t-10"><a th:href="@{/}">&nbsp;&nbsp;&nbsp;&nbsp;Tablero</a></li>
                    <li><a th:href="@{/}" class="waves-effect"><i class="fa fa-asterisk" data-icon="v"></i> <span class="hide-menu"> Comercio<span class="fa arrow"></span></span></a>
                        <ul class="nav nav-second-level">
                            <li><a th:href="@{/products}"><i class="fa fa-tags"></i> Productos</a></li>
                            <li><a th:href="@{/coupons}"><i class="fa fa-percent"></i> Cupones</a></li>
                            <li><a th:href="@{/orders}"><i class="fa fa-shopping-cart"></i> Pedidos</a></li>
                            <li><a th:href="@{/quotes}"><i class="fa fa-calendar-check-o"></i> Citas</a></li>
                        </ul>
                    </li>
                    <li><a th:href="@{/users}" class="waves-effect"><i class="fa fa-user" data-icon="v"></i> <span class="hide-menu"> Usuarios</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="page-wrapper">
            <div class="container-fluid">
                <th:block layout:fragment="content"></th:block>
            </div>
            <footer class="footer text-center">Derechos reservados &copy; <span th:text="${#dates.year(#dates.createNow())}"></span> PetShop</footer>
        </div>
    </div>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/sidebar-nav.min.js}"></script>
    <script th:src="@{/js/jquery.slimscroll.min.js}"></script>
    <script th:src="@{/js/waves.min.js}"></script>
    <script th:src="@{/js/jquery.toast.min.js}"></script>
    <script th:src="@{/js/jquery.waypoints.min.js}"></script>
    <script th:src="@{/js/jquery.counterup.min.js}"></script>
    <script th:src="@{/js/raphael.min.js}"></script>
    <script th:src="@{/js/morris.min.js}"></script>
    <script th:src="@{/js/custom.min.js}"></script>
    <script th:src="@{/js/jquery.sparkline.min.js}"></script>
    <script th:src="@{/js/jquery.charts-sparkline.min.js}"></script>
    <script th:src="@{/js/jquery.style.switcher.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
    <th:block layout:fragment="scripts"></th:block>
</body>
</html>
